{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>{{person.username}}님의 프로필</h1>
<hr>
<p>{% if user.profile_img %}
    <img src="{{ user.profile_img.url }}" alt="프로필 사진">
  {% else %}
    <img src="{% static 'default_profile.png' %}" alt="기본 프로필">
  {% endif %}
</p>
<!-- 회원 정보 -->
<p>아이디: {{ person.username }}</p>
<p>이메일: {{ person.email }}</p>
<p>이름: {{ person.last_name }}{{ person.first_name }}</p>
<p>성별: {{ person.gender }}</p>
<p>나이: {{ person.age }}</p>
<p>주간 평균 독서 시간: {{ person.weekly_avg_reading_time }}시간</p>
<p>연간 독서량: {{ person.annual_reading_amount }}권</p>
<p>팔로워 : {{ person.followers.count }}</p>
<p>팔로잉 : {{ person.followings.count }}</p>
<hr>

<p>
    {% if request.user == person %}
    <a href="{% url "accounts:update" %}">회원정보 수정</a>
    <form action="{% url 'accounts:delete' %}" method="post" style="display: inline;">
        {% csrf_token %}
        <input type="submit" class="btn btn-secondary" value="회원탈퇴">
    </form>
    
    {% else %}
    <form action="{% url 'accounts:follow' person.pk %}" method="post">
        {% csrf_token %}
        {% if request.user in person.followers.all %}
        <input type="submit" class="btn btn-secondary" value="언팔로우">
        {% else %}
        <input type="submit" class="btn btn-success" value="팔로우">
        {% endif %}
    </form>
    {% endif %}
</p>
<hr>
<h3>{{ person.username }}님의 쓰레드 목록</h3>
<ul>
  {% for thread in threads %}
    <li>
      <a href="{% url "books:thread_detail" thread.pk%}">title</a> - 좋아요: {{ thread.like_users|length }}
    </li>
  {% empty %}
    <p>작성한 쓰레드가 없습니다.</p>
  {% endfor %}
</ul>
{% endblock content %}